* {
  font-family: "Rubik", sans-serif;
}

* a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #302E2B;
  width: 100vw;
  height: 100vh;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 5px;
}

body .container .main-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: burlywood;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .main-content-container .moves-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 5px 20px 5px;
  margin: 5px;
  width: 300px;
  max-height: 450px;
  background-color: #21201D;
  border-radius: 10px;
}

body .container .main-content-container .moves-box h3 {
  color: #B7B7B6;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 2px;
}

body .container .main-content-container .moves-box .moves-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 450px;
  font-size: 1rem;
  color: #B3B3B2;
  overflow-y: scroll;
}

body .container .main-content-container .moves-box .moves-item {
  padding: 5px 10px 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: auto;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .main-content-container .game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: cadetblue;
}

body .container .main-content-container .game-container .graveyard {
  width: 100%;
  height: 20vw;
  max-width: 450px;
  min-width: 250px;
  max-height: 50px;
  min-height: 40px;
  padding: 3px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 10px;
  opacity: 0.5;
}

body .container .main-content-container .game-container .white-graveyard {
  margin: 2px;
}

body .container .main-content-container .game-container .black-graveyard {
  margin: 2px;
}

body .container .main-content-container .game-container .board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #5784bb;
  width: 60vw;
  height: 60vw;
  min-width: 250px;
  min-height: 250px;
  max-width: 450px;
  max-height: 450px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #5784bb;
  padding: 3px;
  border-radius: 2px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-animation: boardOpen 1s;
          animation: boardOpen 1s;
}

body .container .main-content-container .game-container .board .piece-highlighted {
  background-color: #f6f686;
}

body .container .main-content-container .game-container .board .box {
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 12.5%;
  height: 12.5%;
  -webkit-animation: backgroundReveal 1s;
          animation: backgroundReveal 1s;
  border-radius: 5px;
}

body .container .main-content-container .game-container .board .box:nth-of-type(57), body .container .main-content-container .game-container .board .box:nth-of-type(64) {
  background-image: url("../../assets/chess-pieces/wR.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(58), body .container .main-content-container .game-container .board .box:nth-of-type(63) {
  background-image: url("../../assets/chess-pieces/wN.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(59), body .container .main-content-container .game-container .board .box:nth-of-type(62) {
  background-image: url("../../assets/chess-pieces/wB.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(60) {
  background-image: url("../../assets/chess-pieces/wQ.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(61) {
  background-image: url("../../assets/chess-pieces/wK.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(1), body .container .main-content-container .game-container .board .box:nth-of-type(8) {
  background-image: url("../../assets/chess-pieces/bR.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(2), body .container .main-content-container .game-container .board .box:nth-of-type(7) {
  background-image: url("../../assets/chess-pieces/bN.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(3), body .container .main-content-container .game-container .board .box:nth-of-type(6) {
  background-image: url("../../assets/chess-pieces/bB.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(4) {
  background-image: url("../../assets/chess-pieces/bQ.svg");
}

body .container .main-content-container .game-container .board .box:nth-of-type(5) {
  background-image: url("../../assets/chess-pieces/bK.svg");
}

body .container .main-content-container .game-container .board .box::before {
  background-image: none;
}

body .container .main-content-container .game-container .board .row-odd:nth-of-type(even),
body .container .main-content-container .game-container .board .row-even:nth-of-type(odd) {
  background-color: #eeeed2;
}

body .container .main-content-container .game-container .board .row-7 {
  background-image: url("../../assets/chess-pieces/wP.svg");
}

body .container .main-content-container .game-container .board .row-2 {
  background-image: url("../../assets/chess-pieces/bP.svg");
}

body .container .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 280px;
  gap: 10px;
  margin-top: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .button-container .button {
  border-radius: 20px;
  padding: 1px;
  opacity: 0.5;
  padding: 10px;
  width: 40%;
  max-width: 250px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

body .container .button-container .button:hover {
  opacity: 1;
}

body .container .button-container .left-button {
  color: white;
  background-color: #5784bb;
}

body .container .button-container .right-button {
  background-color: white;
}

body .container .button-container .right-button a {
  color: #5784bb;
}

@media (max-width: 850px) {
  body .button-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main-content-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .moves-list {
    max-height: 50px;
  }
}

@-webkit-keyframes boardOpen {
  0% {
    min-width: 0%;
    width: 0%;
  }
  100% {
    min-width: none;
    width: 80%;
  }
}

@keyframes boardOpen {
  0% {
    min-width: 0%;
    width: 0%;
  }
  100% {
    min-width: none;
    width: 80%;
  }
}

@-webkit-keyframes backgroundImageHidden {
  0% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}

@keyframes backgroundImageHidden {
  0% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}

@-webkit-keyframes backgroundReveal {
  0% {
    opacity: 0;
    background-image: none;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
    background-image: none;
  }
}

@keyframes backgroundReveal {
  0% {
    opacity: 0;
    background-image: none;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
    background-image: none;
  }
}

/*

CHESS MOVES ANIMATION

*/
@-webkit-keyframes remove {
  0% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}
@keyframes remove {
  0% {
    background-image: none;
  }
  100% {
    background-image: none;
  }
}

@-webkit-keyframes d7tod5 {}

@keyframes d7tod5 {}@-webkit-keyframes c2toc4 {}@keyframes c2toc4 {}
/*# sourceMappingURL=styles.css.map */